<ion-header>

  <ion-navbar>
    <ion-title>交易</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!trading">
    发起新的交易！
  </div>


  <div *ngIf="trading && ( (!isStarter&&replied) || isStarter )">
    您选择的物品：
    <div *ngIf="gameSvc.playerModel.transaction.myTrans?.length==0">
      无
    </div>
    <div *ngFor="let thing of gameSvc.playerModel.transaction.myTrans">
      {{thing.transactionId}}({{thing.Type}}) x{{thing.amount}}
      <!--TODO get the name-->
    </div>
  </div>

  <div *ngIf="trading && ( (isStarter&&replied) || !isStarter )">
    对方选择的物品：
    <div *ngFor="let thing of gameSvc.playerModel.transaction.oppositeTrans">
      {{thing.transactionId}}({{thing.Type}}) x{{thing.amount}}
      <!--TODO get the name-->
    </div>
    <div *ngIf="gameSvc.playerModel.transaction.oppositeTrans?.length==0">
      无
    </div>
  </div>


  <div *ngIf="!trading || (trading && !isStarter && !replied)">
    <div *ngFor="let usable of gameSvc.playerModel.usables | dictToArray | where : ['tradable',true]" style="border: solid 1px #bfbfbf;">
      id: {{usable.id}}<br>
      类型: {{usable.category}}<br>
      {{usable.name}}<br>
      {{thingsChosenAmount.usable[usable.id]?thingsChosenAmount.usable[usable.id]:0}}
      <button ion-button clear
              (click)="decreaseThing('usable',usable.id)"
              [disabled]="!thingsChosenAmount.usable[usable.id]"
      >-</button>
      <button ion-button clear
              (click)="increaseThing('usable',usable.id)"
              [disabled]="thingsChosenAmount.usable[usable.id]&&thingsChosenAmount.usable[usable.id]>=usable.amount"
      >+</button>
    </div>
    <div *ngFor="let prop of gameSvc.playerModel.props | dictToArray | where : ['tradable',true]" style="border: solid 1px #bfbfbf;">
      id: {{prop.key}}<br>
      {{prop.name}}<br>
      {{thingsChosenAmount.prop[prop.key]?thingsChosenAmount.prop[prop.key]:0}}
      <button ion-button clear
              (click)="decreaseThing('prop',prop.key)"
              [disabled]="!thingsChosenAmount.prop[prop.key]"
      >-</button>
      <button ion-button clear
              (click)="increaseThing('prop',prop.key)"
              [disabled]="thingsChosenAmount.prop[prop.key]&&thingsChosenAmount.prop[prop.key]>=prop.value"
      >+</button>
      <!--TODO 改成input组件-->
    </div>
    <div *ngFor="let clue of gameSvc.playerModel.clues | dictToArray | where : ['tradable',true]" style="border: solid 1px #bfbfbf;">
      id: {{clue.id}}<br>
      {{clue.name}}<br>
      {{thingsChosenAmount.clue[clue.id]?'√':0}}
      <button ion-button clear
              (click)="decreaseThing('clue',clue.id)"
              [disabled]="!thingsChosenAmount.clue[clue.id]"
      >-</button>
      <button ion-button clear
              (click)="increaseThing('clue',clue.id)"
              [disabled]="thingsChosenAmount.clue[clue.id]&&thingsChosenAmount.clue[clue.id]>=1"
      >+</button>
      <!--TODO 改成CheckBox组件-->
    </div>
  </div>

  <div *ngIf="!trading">
    <button ion-button block (click)="startTrade()">发起交易</button>
  </div>

  <div *ngIf="trading && !isStarter && !replied">
    <button ion-button block (click)="replyTrade(true)">使用这些物品和对方交易</button>
    <button ion-button block (click)="replyTrade(false)">拒绝对方的交易请求</button>
  </div>


  <div *ngIf="trading && !isStarter && replied">
    您已做出回复，正等待交易发起方确认
  </div>


  <div *ngIf="trading && isStarter && !replied">
    等待对方做出回复
  </div>

  <div *ngIf="trading && isStarter && replied">
    <button ion-button block (click)="confirmTrade(true)">同意交易</button>
    <button ion-button block (click)="confirmTrade(false)">拒绝交易</button>
  </div>


</ion-content>
