page-g-main {
  .scroll-content{
    padding-bottom: 60px!important;
  }
  game-notification{
    position: fixed;
    z-index: 100;
    bottom:0;
    left:0;
    width:100%;
    background: #e2e2e2;//just for debug
  }
}
