<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-title>游戏名称</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <game-notification></game-notification>
  当前房间阶段：{{gameSvc.roomModel.roomStage}}<br>
  <p>
    <span *ngFor="let stage of gameSvc.roomModel.stages">
      {{stage.name}}
      <span *ngIf="stage.id==gameSvc.roomModel.currentStage.id">当前阶段</span>
      <br>
    </span>
  </p>
  当前阶段的模式：{{gameSvc.roomModel.currentStage.mode}}<br>
  阶段开始于：{{gameSvc.roomModel.stageBeginAt | date:'medium'}}<br>
  <span *ngIf="gameSvc.roomModel.currentStage.mode=='countDown'||gameSvc.roomModel.currentStage.mode=='countDownWithConfirm'">
    倒计时：{{countDown}}
  </span><br>
  <!--TODO change to 'mediumTime'-->
  <hr>
  用户ID：{{gameSvc.playerModel.id}}<br>
  用户名：{{gameSvc.playerModel.username}}<br>
  名字：{{gameSvc.playerModel.name}}<br>
  上次调查时间：<span *ngIf="gameSvc.playerModel.lastSurveyedAt">{{gameSvc.playerModel.lastSurveyedAt | date:'medium'}}</span><span *ngIf="gameSvc.playerModel.lastSurveyedAt==0">暂无调查记录</span><br>
  笔记：{{gameSvc.playerModel.note}}<br>
  <hr>
  属性列表<br>
  <div *ngFor="let prop of (gameSvc.playerModel.props|dictToArray)">
    {{prop.name}}({{prop.id}})：{{prop.value}}
  </div>
  <button *ngIf="shouldShowConfirmStage" [disabled]="this.gameSvc.playerModel.stageConfirm" ion-button block (click)="this.gameSvc.confirmStage()">
    <span *ngIf="this.gameSvc.playerModel.stageConfirm">√</span>结束本阶段
  </button>
  <button *ngIf="shouldShowSubmitStageForm" [disabled]="this.gameSvc.playerModel.stageConfirm" ion-button block (click)="goFormPage()">
    <span *ngIf="this.gameSvc.playerModel.stageConfirm">√</span>填写表单并结束阶段
  </button>
  <button ion-button block (click)="goCluePage()">线索</button>
  <button ion-button block (click)="goItemPage()" [disabled]="this.gameSvc.roomModel.currentStage.canItem==false">物品</button>
  <button ion-button block (click)="goSkillPage()" [disabled]="this.gameSvc.roomModel.currentStage.canSkill==false">技能</button>
  <button ion-button block (click)="goSurveyPage()" [disabled]="this.gameSvc.roomModel.currentStage.canSurvey==false">调查</button>
  <button ion-button block navPop>返回大厅</button>
</ion-content>
