<ion-header>

  <ion-navbar [hideBackButton]="true">
    <ion-title>游戏名称</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <game-notification></game-notification>
  当前房间阶段：{{gameSvc.roomModel.roomStage}}<br>
  当前游戏阶段：{{gameSvc.roomModel.gameStage}}<br>
  <p>
    <span *ngFor="let stage of gameSvc.roomModel.stages">
      {{stage.name}}
      <span *ngIf="stage.id==gameSvc.roomModel.currentStage.id">当前阶段</span>
      <br>
    </span>
  </p>
  当前阶段的模式：{{gameSvc.roomModel.currentStage.mode}}
  阶段开始于：{{gameSvc.roomModel.stageBeginAt}}
  <hr>
  用户ID：{{gameSvc.playerModel.id}}<br>
  用户名：{{gameSvc.playerModel.username}}<br>
  名字：{{gameSvc.playerModel.name}}<br>
  上次调查事件：{{gameSvc.playerModel.lastSurveyedAt}}<br>
  笔记：{{gameSvc.playerModel.note}}<br>
  <hr>
  属性列表<br>
  <div *ngFor="let prop of (gameSvc.playerModel.props|dictToArray)">
    {{prop.name}}({{prop.id}})：{{prop.value}}
  </div>
  <button *ngIf="this.gameSvc.roomModel.currentStage.mode | showConfirmStage" [disabled]="this.gameSvc.playerModel.stageConfirm" ion-button block (click)="this.gameSvc.confirmStage()">
    <span *ngIf="this.gameSvc.playerModel.stageConfirm">√</span>结束本阶段
  </button>
  <button ion-button block (click)="goCluePage()">线索</button>
  <button ion-button block (click)="goItemPage()">物品</button>
  <button ion-button block (click)="goSurveyPage()">调查</button>
  <button ion-button block navPop>返回大厅</button>
</ion-content>
