page-g-main {
  ion-content{
    padding-bottom: 50px;
  }
  game-notification{
    position: fixed;
    z-index: 100;
    bottom:0;
    left:0;
    width:100%;
    background: #bfbfbf;//just for debug
  }
}
